:root {
    --back: #191A1B;
    --base: #30353F;
    --font: #F1F1F1;
    --link: #1D60D1;
    --recp: #545964;
}

body {
  margin: auto;
  max-width: 50em;
  font-family: sans-serif;
  background-color: var(--back);
  color: var(--font)
}

.navigation {
    background-color: var(--base);
    border-radius: 8px;
    padding: 0.5em;
    margin: 0.5em 0;
    text-align: center;
}

.navigation a {
  color: var(--font);
  text-decoration: none;
}

a {
    color: var(--link);
    text-decoration: none;
}

a:hover {
  color: var(--link);
  text-decoration: underline;
}

.image {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.image img {
    width: 100%;
    height: 300px;
    border-radius: 8px;
}

.recipe {
  position: relative;
  border-width: 1px;
  border-style: solid;
  border-radius: 8px;
  background-color: var(--base);
  padding: 1em;
  margin: 0.5em 0;
}

.recipetitle {
  margin: 0.5em 0;
}

a.recipe-link {
    text-decoration: none;
    color: inherit;
}

.recipe-link::after {
    content: "";
    position: absolute;
    inset: 0;
}

.recipe a[href^="/user/"] {
  position: relative;
  z-index: 1;
}

.content {
  background-color: #30353f;
  padding: 2em;
  margin: 50px auto;
  max-width: 400px;
  border-radius: 8px;
  border-width: 1px;
  border-style: solid;
  text-align: center;
}

.user {
  border: 2px solid black;
  background-color: grey;
  padding: 0.5em;
  margin: 0.5em 0;
}

.success {
  color: forestgreen;
  position: fixed;
}

.error {
  color: firebrick;
  min-height: 1.5em;
}

.header {
  background-color: var(--back);
  text-align: center;
}

.mainheader {
  background-color: var(--back);
  color: inherit;
  text-decoration: none;
}

a.mainheader {
  color: inherit;
  text-decoration: none;
}

.contentheader {
  background-color: var(--base);
  padding: 1em;
  text-align: center;
}

.bottomnav {
    background-color: var(--base);
    text-align: center;
}

.search {
  background-color: var(--base);
  padding: 0.5em;
  border-radius: 8px;
  text-align: center;
  border-width: 1px;
  border-style: solid;
}

.commentfield {
  background-color: var(--font);
  border-width: 3px;
  border-style: solid;
  border-radius: 8px;
  border-color: var(--back);
}

.button {
    font-size: 1em;
    background-color: white;
    color: var(--back);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


