{% extends "layout.html" %}

{% block title %}Respasovellus{% endblock %}

{% block content %}
<p>
  <a href="/recipe/{{ recipe.id }}">Takaisin reseptiin</a>
</p>
<h2>Muokkaa reseptiä</h2>

<form method="post" action="/edit_recipe/{{ recipe.id }}">

  <p>Reseptin nimi:</p>
    <input type="text" name="recipename" value="{{ recipe.name }}" maxlength="50" required>

  <p>Ainesosat:</p>
  <p>
  <input type="hidden" name="count" value="{{ count }}">
  </p>

  {% for i in range(count) %}
    <div>
      <input type="text" name="ingredients{{ i }}" value="{{ ingredients[i] }}" maxlength="70">
      <button type="submit" name="remove" value="{{ i }}">Poista</button>
    </div>
  {% endfor %}

  <button type="submit" name="add" value="1">Lisää ainesosa</button>

  <p>Ohjeet:</p>
    <textarea name="description" rows="15" cols="80" maxlength="1000">{{ description }}</textarea>
  
  {% for category, options in classes.items() %}
  <p>
    {{ category }}: <br>
    <select name="class_{{ category }}">
      <option value="">(valitse)</option>
      {% for option in options %}
        <option value="{{ option }}"
          {% if choices[category] == option %}selected{% endif %}>{{ option }}
        </option>
      {% endfor %}
    </select>
  </p>
  {% endfor %}
  <p>
    Aika:
    <input type="number"
           name ="hours"
           value="{{ hours }}"
           placeholder="Tunnit"
           min="0"
           max="48">
    <input type="number"
           name="minutes"
           value="{{ minutes }}"
           placeholder="Minuutit"
           min="0"
           max="59">
  
  </p>
  <input type="submit" name="save" value="Julkaise">
</form>
{% endblock %}
