{% extends "layout.html" %}

{% block title %}Respasovellus{% endblock %}

{% block content %}
<div class="recipe">
  <h2 class="contentheader">Muokkaa reseptiä {{ recipe.name }}</h2>
  <div class="image-container">
    {% for image in images %}
    <div class="image">
      <img src="/image/{{ image.id }}" alt="Reseptin kuva"/>
    </div>
    {% endfor %}
  </div>
  <form method="post" action="/edit_recipe/{{ recipe.id }}">

    <h3 class="recipetitle">Reseptin nimi:</h3>
      <label for="recipename" class="hidden">Reseptin nimi</label>
      <input type="text"
             class="namebar" 
             name="recipename" 
             id="recipename" 
             value="{{ recipe.name }}" 
             maxlength="33" 
             required>

    <h3>Ainesosat:</h3>
    <p>
    <input type="hidden" name="count" value="{{ count }}">
    </p>

    {% for i in range(count) %}
      <div>
        <label for="ing{{ i }}" class="hidden">Ainesosa</label>
        <input type="text"
               class="ingbar"
               name="ingredients{{ i }}"
               id="ing{{ i }}"
               value="{{ ingredients[i].name }}"
               maxlength="30"
               placeholder="Ainesosa">
        <label for="amo{{ i }}" class="hidden">Määrä</label>
        <input type="text"
               class="amobar"
               name="amounts{{ i }}"
               id="amo{{ i }}
               value="{{ ingredients[i].amount }}"
               maxlength="10"
               placeholder="Määrä">
        <button type="submit" class="removebutton" name="remove" value="{{ i }}">Poista</button>
      </div>
    {% endfor %}
    <button type="submit" class="ingbutton" name="add" value="1">Lisää ainesosa</button>

    <h3>Ohjeet:</h3>
      <label for="description" class="hidden">Ohjeet</label>
      <textarea name="description"
                id="description"
                class="commentfield" 
                rows="15" cols="80" 
                maxlength="1000">{{ description }}</textarea>

    {% for category, options in classes.items() %}
    <p>
      <h3>{{ category }}:</h3>
      <label for="category{{ category }}" class="hidden">{{ category }}</label>
      <select name="class_{{ category }}" id="category{{ category }}">
        <option value="">(valitse)</option>
        {% for option in options %}
          <option value="{{ option }}"
            {% if choices[category] == option %}selected{% endif %}>{{ option }}
          </option>
        {% endfor %}
      </select>
    </p>
    {% endfor %}
    <p>
      <h3>Aika:</h3>
      <label for="hours" class="hidden">Tunnit</label>
      <input type="number"
             class="timebar"
             name ="hours"
             id="hours"
             value="{{ hours }}"
             placeholder="Tunnit"
             min="0"
             max="48">
      <label for="minutes" class="hidden">Minuutit</label>
      <input type="number"
             class="timebar"
             name="minutes"
             id="minutes"
             value="{{ minutes }}"
             placeholder="Minuutit"
             min="0"
             max="59">
    </p>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <input type="submit" class="bigbutton" name="save" value="Päivitä">
    {% set messages = get_flashed_messages() %}
    {% if messages %}
      {% if "lisätty" in messages %}
        <meta http-equiv="refresh" content="2;url="/">
      {% endif %}
        <input type="checkbox" id="closeerror">
        <label class="remove" for="closeerror">
          <h2 class="error">{{ messages[-1] }}</h2>
        </label>
     {% endif %}
  </form>
  <p class="bottomnav">
    <a href="/images/{{ recipe.id }}">Muokkaa kuvia | </a>
    <a href="/recipe/{{ recipe.id }}">Takaisin reseptiin | </a>
    <a href="/remove_recipe/{{ recipe.id }}">Poista resepti</a>

  </p>
</div>
{% endblock %}
