{% extends "layout.html" %}

{% block title %}Etsi resepti{% endblock %}

{% block content %}
<div class="search">
  <h2>Etsi respa</h2>
  <form action="/find_recipe" method="get">
    <p>
      <label for="query" class="hidden">Hakukenttä</label>
      <input class="searchbar"
             type="text" 
             name="query" 
             id="query" 
             placeholder="Etsi reseptin nimen, ohjeiden, tai tekijän perusteella" 
             value="{{ query }}">
    </p>
    <input type="submit" class="button" value="Hae">
  </form>
    <br>
</div>

{% for recipe in results %}
<div class="homep-recipe">
  <div class="recipe-info">
    <a class="recipe-link" href="/recipe/{{ recipe.id }}">
    <h3 class="recipetitle">{{ recipe.name }}</h3>
    </a>
    Julkaissut: <a href="/user/{{ recipe.user_id }}">{{ recipe.username }}</a> <br/>
    ({{ recipe.comment_count }} kommentti{% if recipe.comment_count != 1 %}a{% endif %})
  </div>
    {% if recipe.image_id %}
      <img class="recipe-image" src="/image/{{ recipe.image_id }}" alt="Reseptin kuva"/>
    {% endif %}
</div>
{% endfor %}

{% endblock %}

