{% extends "layout.html" %}

{% block title %}Respasovellus{% endblock %}

{% block content %}
<div class="recipe">
  <div class="contentheader">
    <h2>Reseptin {{ recipe.name }} kuvat</h2>
    <p>
      Reseptistä on {{ images | count }} kuva{% if images | count > 1 or images | count == 0 %}a{% endif %}.
    </p>
  </div>
  {% if images and images | count > 0 %}
    <h2 class="recipetitle">Valitse poistettavat kuvat</h2>
  {% endif %}
  <form action="/remove_image" method="POST">
    <div class="image-container">
      {% for image in images %}
      <div class="image">
        <input type="checkbox" name="image_id" id="img{{ image.id }}" value="{{ image.id }}">
        <label for="img{{ image.id }}">
          <img src="/image/{{ image.id }} alt="Reseptin kuva""/>
        </label>
      </div>
      {% endfor %}
    </div>
    <input type="hidden" name="recipe_id" value="{{ recipe.id }}">
    {% if images | count > 0 %}
    <p>
      <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
      <input class="button" type="submit" value="Poista valitut"/>
    </p>
    {% endif %}
    </form>
    <h2>Valitse uusi .jpg kuva</h2>
    <form action="/add_image" method="post" enctype="multipart/form-data">
    <p>
      <input type="file" name="image" accept="image/*" />
    </p>
    <input type="hidden" name="recipe_id" value="{{ recipe.id }}">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <input class="removebutton" type="submit" value="Lisää kuva" />
  </form>
    {% set messages = get_flashed_messages() %}
    {% if messages %}
      {% if "lisätty" in messages %}
        <meta http-equiv="refresh" content="2;url="/">
      {% endif %}
        <input type="checkbox" id="closeerror">
        <label class="remove" for="closeerror">
          <h2 class="errorimage">{{ messages[-1] }}</h2>
        </label>
     {% endif %}
  <p class="bottomnav">
    <a href="/edit_recipe/{{ recipe.id }}">Muokkaa reseptiä | </a>
    <a href="/recipe/{{ recipe.id }}">Takaisin reseptiin | </a>
    <a href="/">Etusivulle</a>
  </p>
</div>
{% endblock %}


