{% extends "layout.html" %}

{% block title %}Respasovellus{% endblock %}

{% block content %}
{% set messages = get_flashed_messages() %}
{% if messages %}
  <meta http-equiv="refresh" content="2;url="/">
  <h2 class="success">{{ messages[-1] }}</h2>
{% endif %}
<h2>Reseptit</h2>

<p>{{ recipes_count }} julkaistua reseptiä</p>

{% for recipe in all_recipes %}
<div class="recipe">
  <a href="/recipe/{{ recipe.id }}">{{ recipe.name }}</a> <br />
  Julkaissut: <a href="/user/{{ recipe.user_id }}">{{ recipe.username }}</a> <br/>
  ({{ recipe.comment_count }} kommentti{% if recipe.comment_count != 1 %}a{% endif %}) <br />
</div>
{% endfor %}

{% endblock %}
