{% extends "layout.html" %}

{% block title %}Respasovellus{% endblock %}

{% block content %}
{% set messages = get_flashed_messages() %}
{% if messages %}
  <meta http-equiv="refresh" content="2;url="/">
  <h2 class="success">{{ messages[-1] }}</h2>
{% endif %}
<div class="header">
  <h2>Reseptit</h2>
  <p>{{ recipes_count }} julkaistua reseptiä</p>
</div>

{% for recipe in all_recipes %}
<div class="homep-recipe">
  <div class="recipe-info">
    <h3 class="recipetitle">
      <a class="recipe-link" href="/recipe/{{ recipe.id }}">{{ recipe.name }}</a>
    </h3>
    Julkaissut: <a href="/user/{{ recipe.user_id }}">{{ recipe.username }}</a> <br/>
    ({{ recipe.comment_count }} kommentti{% if recipe.comment_count != 1 %}a{% endif %})
  </div>
    {% if recipe.image_id %}
      <img class="recipe-image" src="/image/{{ recipe.image_id }}"/>
    {% endif %}
</div>
{% endfor %}

{% endblock %}
