<!DOCTYPE html>
<html>

<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="/static/main.css">
</head>

<body>
  <a href="/" class="mainheader"><h1>Respasovellus</h1></h1>
  <div class="navigation">
    {% if session.user_id %}
    <p>
      Olet kirjautunut sisään käyttäjänä <a href="/user/{{ session.user_id }}">{{ session.username }}</a>
    </p>
    <p>
      <a href="/">Etusivulle</a> |
      <a href="/logout">Kirjaudu ulos</a> |
      <a href="/newrecipe">Lisää resepti</a> |
      <a href="/find_recipe">Etsi reseptejä</a> |
      <a href="/leaderboard">Respa leaderboard</a>
    </p>
    {% else %}
    <p>
      <a href="/">Etusivulle</a> |
      <a href="/login">Kirjaudu sisään</a> |
      <a href="/register">Uusi käyttäjä</a> |
      <a href="/find_recipe">Etsi reseptejä</a> |
      <a href="/leaderboard">Respa leaderboard</a>
    </p>
    {% endif %} 
  </div>
  {% block content %}{% endblock %}
  
</body>

</html>
