{% extends "layout.html" %}

{% block title %}Kirjaudu sisään{% endblock %}

{% block content %}
<h2>Eniten julkaistuja reseptejä</h2>
{% for user in leaderboard %}
<div class="user">
  {% if loop.index == 1 %}👑{% endif %}
  {% if loop.index == 2 %}🥈{% endif %}
  {% if loop.index == 3 %}🥉{% endif %}
  {% if loop.index > 3 %}⭐{% endif %}
  {{ loop.index }}.
  <a href="/user/{{ user.id }}">{{ user.username }}</a>
  Lisännyt {{ user.recipe_count }} {% if user.recipe_count == 1 %}reseptin.
  {% else %}reseptiä.{% endif %}
</div>
{% endfor %}
{% endblock %}
