{% extends "layout.html" %}

{% block title %}Kirjaudu sisään{% endblock %}

{% block content %}
<div class="content">
  <h2>Kirjaudu sisään</h2>
  <form action="/login" method="post">
    <p>
      Käyttäjänimi: <br />
      <input type="text" name="username" />
    </p>
    <p>
      Salasana: <br />
      <input type="password" name="password" />
    </p>
    <input type="submit" value="Kirjaudu" />
  </form>
  {% set messages = get_flashed_messages() %}
  <p class="error">
    {% if messages %}
    {{ messages[0] }}
    {% endif %}
  </p>
  {% endblock %}
</div>


