<!DOCTYPE html>
{% if session.user_id %}
<head>
  <title>Lisää resepti</title>
</head>
<body>

<h1>Uusi resepti</h1>

<form action="/submit" method="post">

  <p>Reseptin nimi:</p>
    <input type="text" name="recipename" value="{{ recipename }}"><br><br>

  <p>Ainesosat:</p>
  {% for i in range(count) %}
    <input type="text"
           name="ingredients{{ i }}"
           value="{{ ingredients[i] }}"
           placeholder="Ainesosa">

    <input type="text"
           name="amounts{{ i }}"
           value="{{ amounts[i] }}"
           placeholder="Määrä">
    <br>
  {% endfor %}

  <input type="hidden" name="count" value="{{ count }}">

  <button type="submit" formaction="/newrecipe" name="add">Lisää ainesosa
  </button>

  <p>Ohjeet:</p>
  <textarea name="description" rows="15" cols="80">{{ description }}</textarea>

  <br><br>
  <input type="submit" value="Julkaise">

</form>
  
  {%else%}
  <p>Kirjaudu ensin sisään lisätäksesi reseptin</p>
    <a href="/login">Kirjaudu </a>
  {%endif%}

</body>
</html>



