{% extends "layout.html" %}

{% block title %}Luo käyttäjä{% endblock %}

{% block content %}
<div class="content">
  <h2>Luo uusi käyttäjä</h2>
  <form action="/create_account" method="post">
    <p>
      Käyttäjänimi: <br />
      <label for="username" class="hidden">Käyttäjänimi</label>
      <input type="text" maxlength="30" name="username" id="username"/>
    </p>
    <p>
      Salasana: <br />
      <label for="password" class="hidden">Salasana</label>
      <input type="password" name="password1" id="password"/>
    </p>
    <p>
      Salasana uudestaan: <br />
      <label for="password-again" class="hidden">Salasana uudestaan</label>
      <input type="password" name="password2" id="password-again"/>
    </p>
    <input type="submit" class="button" value="Luo käyttäjä" />
  </form>
  {% set messages = get_flashed_messages() %}
  <p class="error">
    {% if messages %}
    {{ messages[0] }}
    {% endif %}
  </p>
</div><label for="description" class="hidden">Ohjeet</label>
{% endblock %}
    
