<html>

<head>
  <title>Luo uusi käyttäjä</title>
</head>

<body>
  <form action="/create" method="post">
    <p>
      Käyttäjänimi: <br />
      <input type="text" name="username" />
    </p>
    <p>
      Salasana: <br />
      <input type="password" name="password1" />
    </p>
    <p>
      Salasana uudestaan: <br />
      <input type="password" name="password2" />
    </p>
    <input type="submit" value="Luo käyttäjä" />
  </form>
  <p>
    <a href="/">Takaisin</a>
  </p>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      <p>{{ messages[0] }}</p>
    {% endif %}
  {% endwith %}
</body>

</html>
    
