<!DOCTYPE html>
{% if session.user_id == recipe.user_id %}
<head>
  <title>Reseptin poisto</title>
</head>
<body>

<h1>Haluatko varmasti poistaa reseptin {{ recipe.name }}?</h1>
  <form action="/remove_recipe/{{ recipe.id }}" method="post">
    <input type="submit" name="remove" value="Poista resepti">
    <input type="submit" name="dont" value="Takaisin">
  </form>
  
{%else%}
<p>Et ole reseptin tekijä!</p>
  <p>
  <a href="/login">Kirjaudu </a>
  </p>
  <p>
  <a href="/">Etusivulle </a>
  </p>
{%endif%}

</body>

</html>
