{% extends "layout.html" %}

{% block title %}Luo käyttäjä{% endblock %}

{% block content %}
  <div class="header">
    <h2>Käyttäjä {{ user.username }} </h2>
    <p>
      on julkaissut {% if recipes | count == 1 %}yhden reseptin{% else %}{{ recipes | count }} reseptiä{% endif %}.
    </p>
  </div>
  {% if session.user_id == user.id %}
  <p>
    Olet kirjautunut tälle käyttäjälle
  </p>
  {% endif %}
  {% for recipe in recipes %}
  <div class="recipe">
    <a class="recipe-link" href="/recipe/{{ recipe.id }}">
      <h3 class="recipetitle">{{ recipe.name }}</h3>
      ({{ recipe.comment_count }} kommentti{% if recipe.comment_count != 1 %}a{% endif %})
    </a>
  </div>
  {% endfor %}
  
{% endblock %}
