{% extends "layout.html" %}

{% block title %}{{ recipe.name }}{% endblock %}

{% block content %}
  <h2>{{ recipe.name }}</h2>
  {% if session.user_id == recipe.user_id %}
    <p>
      <a href="/edit_recipe/{{ recipe.id }}">Muokkaa reseptiä</a>
      <br>
      <a href="/remove_recipe/{{ recipe.id }}">Poista resepti</a>
      <br>
      <a href="/images/{{ recipe.id }}">Kuvat</a>
    </p>
  {% endif %}
  {% for image in images %}
  <img src="/image/{{ image.id }}"/>
  {% endfor %}
    <p>
      Ainesosat:
    </p>
    <ul>
      {% for item in itemslist %}
        <li>{{ item }}</li>
      {% endfor %}
    </ul>
   {% if recipe.description %}
   <p>Ohjeet:</br>
   {{ recipe.description }}</p>
   {% endif %}
   {% if classes %}
   <p>Luokittelu:<br>
      {% for title, value in classes %}
        {{ title }}: {{ value }}</br>
      {% endfor %}
   {% endif %}
   </p>
      Aika:
        <p>
          {% if hours > 0 %}{{ hours }}h, {% endif %}
          {{ minutes }}min
        </p>
   <p>Reseptin tekijä: <a href="/user/{{ recipe.user_id }}"> {{ username }}</a></p>
   <h3>Kommentit ({{ comments | count }}):</h3>
   <ul>
    {% for comment in comments %}
    <li>{{ comment.comment_str }} - <a href="/user/{{ comment.user_id }}">{{ comment.username }}</a></li>
    {% endfor %}
   </ul>
   
   <h3>Kommentoi</h3>
   <form action="/submit_comment" method="POST">
     <textarea name="comment" rows="6" cols="40" maxlength="1000"></textarea>
     <br/>
     <input type="hidden" name="recipe_id" value="{{ recipe.id }}">
     <input type="submit" value="Lähetä kommentti"/>
   </form>
{% endblock %}
