{% extends "layout.html" %}

{% block title %}Luo käyttäjä{% endblock %}

{% block content %}
  <h2>Käyttäjä {{ user.username }} </h2>
  {% if session.user_id == user.id %}
    <p>
      Olet kirjautunut tälle käyttäjälle
    </p>
  {% endif %}
  <p>
    Käyttäjä on julkaissut {% if recipes | count == 1 %}yhden reseptin{% else %}{{ recipes | count }} reseptiä{% endif %}.
  </p>
  <h3>
    <ul>
      {% for recipe in recipes %}
      <li>
        <a href="/recipe/{{ recipe.id }}">{{ recipe.name }}</a>
      </li>
      {% endfor %}
    </ul>
  </h3>
{% endblock %}
