{% extends "layout.html" %}

{% block title %}{{ recipe.name }}{% endblock %}

{% block content %}
<div class="recipe">
  <h2 class="contentheader">{{ recipe.name }}</h2>
  <div class="image">
    {% for image in images %}
    <img src="/image/{{ image.id }}"/>
    {% endfor %}
  </div>
  <h3>Ainesosat:</h3>
  <ul>
    {% for i in ingredients %}
    <li>{{ i.name }}: {{ i.amount }}</li>
    {% endfor %}
  </ul>
  {% if recipe.description %}
  <h3>Ohjeet:</h3>
  <p>
    {{ recipe.description }}
    {% endif %}
    {% if classes %}
  </p>
  {% endif %}
  <h3>Luokittelu:</h3>
  <p>
    {% for title, value in classes %}
    <p>{{ title }}: {{ value }}</p>
    {% endfor %}
  </p>
  <h3>Aika:</h3>
  <p>
    {% if hours > 0 %}{{ hours }}h, {% endif %}
    {{ minutes }}min
  </p>
  <h3>Reseptin tekijä: <a href="/user/{{ recipe.user_id }}"> {{ username }}</a></h3>
  <h3>Kommentit ({{ comments | count }}):</h3>
  <ul>
    {% for comment in comments %}
    <li>{{ comment.comment_str }} - <a href="/user/{{ comment.user_id }}">{{ comment.username }}</a></li>
    {% endfor %}
  </ul>
   
  <h3>Kommentoi</h3>
  <form action="/submit_comment" method="POST">
    <textarea class="commentfield" name="comment" rows="6" cols="40" maxlength="1000"></textarea>
    <br/>
    <input type="hidden" name="recipe_id" value="{{ recipe.id }}">
    <input type="submit" class="button" value="Lähetä kommentti"/>
  </form>
 {% if session.user_id == recipe.user_id %}
  <p class="bottomnav">
    <a href="/images/{{ recipe.id }}">Kuvat | </a>
    <a href="/edit_recipe/{{ recipe.id }}">Muokkaa reseptiä | </a>
    <a href="/remove_recipe/{{ recipe.id }}">Poista resepti</a>

  </p>
  {% endif %}
</div> 
{% endblock %}
