<!DOCTYPE html>
<html>

<head>
  <title>{{ recipe.name }} </title>
</head>

<body>
  <h1>{{ recipe.name }}</h1>
  {% if session.user_id == recipe.user_id %}
    <p>
      <a href="/edit_recipe/{{ recipe.id }}">Muokkaa reseptiä</a>
      <br>
      <a href="/remove_recipe/{{ recipe.id }}">Poista resepti</a>
    </p>
  {% endif %}
  
    <p>
      Ainesosat:
    </p>
    <ul>
      {% for item in itemslist %}
        <li>{{ item }}</li>
      {% endfor %}
    </ul>
    
   <p>{{ recipe.description }}</p>
   <p>
      {% if section %}
      Luokittelu: {{ section }}
      {% endif %}
   </p>
      Aika:
        <p>
          {% if hours > 0 %}{{ hours }} tuntia, {% endif %}
          {{ minutes }} minuuttia
        </p>
   
   <p>Reseptin tekijä: <a href="/user/{{ recipe.user_id }}"> {{ username }}</a></p>
   
     <a href="/">Takaisin</a>
  
</body>
</html>
